[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cureAssess"]
	path = cureAssess
	url = https://github.com/geethanjaleem/cureassess
